aiohttp==3.9.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
aiosignal==1.3.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
alembic==1.13.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
annotated-types==0.7.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
anyio==4.4.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
async-timeout==4.0.3 ; python_version >= "3.9" and python_version < "3.11"
attrs==23.2.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
backoff==2.2.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
beautifulsoup4==4.12.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
boto3==1.34.122 ; python_version >= "3.9" and python_full_version <= "3.13.0"
botocore==1.34.122 ; python_version >= "3.9" and python_full_version <= "3.13.0"
cachetools==5.3.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
certifi==2024.6.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
cohere==5.5.6 ; python_version >= "3.9" and python_full_version <= "3.13.0"
colorama==0.4.6 ; python_version >= "3.9" and python_full_version <= "3.13.0" and platform_system == "Windows"
dataclasses-json==0.6.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
distro==1.9.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
exceptiongroup==1.2.1 ; python_version >= "3.9" and python_version < "3.11"
fastavro==1.9.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
filelock==3.14.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
frozenlist==1.4.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
fsspec==2024.6.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
google-auth==2.30.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
gptcache==0.1.43 ; python_version >= "3.9" and python_full_version <= "3.13.0"
greenlet==3.0.3 ; python_version >= "3.9" and python_full_version <= "3.13.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.14.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
httpcore==1.0.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
httpx-sse==0.4.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
httpx==0.25.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
huggingface-hub==0.17.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
idna==3.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
jsonpatch==1.33 ; python_version >= "3.9" and python_full_version <= "3.13.0"
jsonpointer==2.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain-cohere==0.1.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain-community==0.0.38 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain-core==0.1.52 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain-openai==0.1.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain-text-splitters==0.0.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langchain==0.1.20 ; python_version >= "3.9" and python_full_version <= "3.13.0"
langsmith==0.1.75 ; python_version >= "3.9" and python_full_version <= "3.13.0"
mako==1.3.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
markupsafe==2.1.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
marshmallow==3.21.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
monotonic==1.6 ; python_version >= "3.9" and python_full_version <= "3.13.0"
multidict==6.0.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
mypy-extensions==1.0.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
numpy==1.26.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
openai==1.33.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
orjson==3.10.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
packaging==23.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
parameterized==0.9.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
posthog==3.5.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pyasn1-modules==0.4.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pyasn1==0.6.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pydantic-core==2.18.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pydantic==2.7.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pygments==2.18.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pypdf==4.2.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pysbd==0.3.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
pyyaml==6.0.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
regex==2024.5.15 ; python_version >= "3.9" and python_full_version <= "3.13.0"
requests==2.32.3 ; python_version >= "3.9" and python_full_version <= "3.13.0"
rich==13.7.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
rsa==4.9 ; python_version >= "3.9" and python_full_version <= "3.13.0"
s3transfer==0.10.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
schema==0.7.7 ; python_version >= "3.9" and python_full_version <= "3.13.0"
six==1.16.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
sniffio==1.3.1 ; python_version >= "3.9" and python_full_version <= "3.13.0"
soupsieve==2.5 ; python_version >= "3.9" and python_full_version <= "3.13.0"
sqlalchemy==2.0.30 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tenacity==8.3.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tiktoken==0.7.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tokenizers==0.15.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
tqdm==4.66.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
types-requests==2.31.0.6 ; python_version >= "3.9" and python_full_version <= "3.13.0"
types-urllib3==1.26.25.14 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_full_version <= "3.13.0"
typing-inspect==0.9.0 ; python_version >= "3.9" and python_full_version <= "3.13.0"
urllib3==1.26.18 ; python_version >= "3.9" and python_full_version <= "3.13.0"
yarl==1.9.4 ; python_version >= "3.9" and python_full_version <= "3.13.0"
