# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store

# Misc
*.pem
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Audio files (temp)
*.wav
*.mp3
*.webm
