AUTH_SECRET=AUTH_SECRET
AUTH_GOOGLE_CLIENT_ID=AUTH_GOOGLE_CLIENT_ID
AUTH_GOOGLE_CLIENT_SECRET=AUTH_GOOGLE_CLIENT_SECRET
NEXT_PUBLIC_API_ENDPOINT=NEXT_PUBLIC_API_ENDPOINT
NEXT_PUBLIC_HOSTNAME=NEXT_PUBLIC_HOSTNAME
NEXT_PUBLIC_POSTHOG_KEY=NEXT_PUBLIC_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=NEXT_PUBLIC_POSTHOG_HOST
AUTH_GITHUB_CLIENT_ID=AUTH_GITHUB_CLIENT_ID
AUTH_GITHUB_CLIENT_SECRET=AUTH_GITHUB_CLIENT_SECRET
RESEND_API_KEY=RESEND_API_KEY
NEXT_PUBLIC_DEFAULT_EMAIL=NEXT_PUBLIC_DEFAULT_EMAIL
NEXT_PUBLIC_ENABLE_OKTA=NEXT_PUBLIC_ENABLE_OKTA
NEXT_PUBLIC_ENABLE_ENTRA_ID=NEXT_PUBLIC_ENABLE_ENTRA_ID
NEXT_PUBLIC_ENTRA_ID_SSO=NEXT_PUBLIC_ENTRA_ID_SSO
AUTH_MICROSOFT_ENTRA_ID_CLIENT_ID=AUTH_MICROSOFT_ENTRA_ID_CLIENT_ID
AUTH_MICROSOFT_ENTRA_ID_SECRET=AUTH_MICROSOFT_ENTRA_ID_SECRET
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=AUTH_MICROSOFT_ENTRA_ID_TENANT_ID