{
	"openapi": "3.0.1",
	"info": {
		"title": "Mem0 API Docs",
		"description": "mem0.ai API Docs",
		"contact": {
			"email": "support@mem0.ai"
		},
		"license": {
			"name": "Apache 2.0"
		},
		"version": "v1"
	},
	"servers": [
		{
			"url": "https://api.mem0.ai/"
		}
	],
	"security": [
		{
			"ApiKeyAuth": []
		}
	],
	"paths": {
		"/v1/agents/": {
			"post": {
				"tags": [
					"agents"
				],
				"description": "Create a new Agent.",
				"operationId": "agents_create",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateAgent"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Agent created successfully.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AgentResponse"
								}
							}
						}
					}
				},
				"x-codegen-request-body-name": "data"
			}
		},
		"/v1/apps/": {
			"post": {
				"tags": [
					"apps"
				],
				"description": "Create a new App.",
				"operationId": "apps_create",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateApp"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "App created successfully.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AppResponse"
								}
							}
						}
					}
				},
				"x-codegen-request-body-name": "data"
			}
		},
		"/v1/entities/": {
			"get": {
				"tags": [
					"entities"
				],
				"operationId": "entities_list",
				"parameters": [
					{
						"name": "org_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter entities by organization ID."
					},
					{
						"name": "project_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter entities by project ID."
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved list of entities.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"count": {
											"type": "integer",
											"description": "Total number of entities matching the filters."
										},
										"next": {
											"type": "string",
											"nullable": true,
											"description": "URL of the next page of results, or null if this is the last page."
										},
										"previous": {
											"type": "string",
											"nullable": true,
											"description": "URL of the previous page of results, or null if this is the first page."
										},
										"results": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"description": "Unique identifier for the entity."
													},
													"name": {
														"type": "string",
														"description": "Name of the entity."
													},
													"created_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp of when the entity was created."
													},
													"updated_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp of when the entity was last updated."
													},
													"owner": {
														"type": "string",
														"description": "Owner of the entity."
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"description": "Additional metadata associated with the entity."
													},
													"type": {
														"type": "string",
														"enum": [
															"user",
															"agent",
															"app",
															"run"
														]
													}
												},
												"required": [
													"id",
													"name",
													"created_at",
													"updated_at",
													"owner",
													"type"
												]
											}
										},
										"total_users": {
											"type": "integer",
											"description": "Total number of user entities in the project."
										},
										"total_agents": {
											"type": "integer",
											"description": "Total number of agent entities in the project."
										},
										"total_apps": {
											"type": "integer",
											"description": "Total number of app entities in the project."
										},
										"total_runs": {
											"type": "integer",
											"description": "Total number of run entities in the project."
										}
									},
									"required": [
										"count",
										"next",
										"previous",
										"results"
									]
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\nusers = client.users()\nprint(users)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\n// Retrieve all users\nclient.users()\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request GET \\\n  --url https://api.mem0.ai/v1/entities/ \\\n  --header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/entities/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/entities/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.get(\"https://api.mem0.ai/v1/entities/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				]
			}
		},
		"/v1/entities/filters/": {
			"get": {
				"tags": [
					"entities"
				],
				"operationId": "entities_filters_list",
				"responses": {
					"200": {
						"description": "Successfully retrieved entity filters.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"event_type": {
											"type": "array",
											"items": {
												"type": "string"
											},
											"description": "Event types that can be filtered on.",
											"example": [
												"ADD",
												"UPDATE",
												"DELETE",
												"SEARCH",
												"GET_ALL",
												"GET",
												"DELETE_ALL",
												"DELETE_USER"
											]
										},
										"categories": {
											"type": "array",
											"items": {},
											"description": "Memory categories that can be filtered on."
										},
										"users": {
											"type": "array",
											"items": {
												"type": "string"
											},
											"description": "User IDs that can be filtered on."
										},
										"parameters": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"name": {
														"type": "string"
													},
													"label": {
														"type": "string"
													},
													"type": {
														"type": "string"
													},
													"placeholder": {
														"type": "string"
													},
													"options": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"value": {
																	"type": "string"
																},
																"label": {
																	"type": "string"
																}
															}
														}
													}
												}
											},
											"description": "Filter UI field definitions used by the Mem0 dashboard."
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/entities/{entity_type}/{entity_id}/": {
			"delete": {
				"tags": [
					"entities"
				],
				"deprecated": true,
				"description": "Delete an entity by its numeric ID. Deprecated in favor of `DELETE /v2/entities/{entity_type}/{entity_id}/`, which takes the entity's string name instead of this numeric ID.",
				"operationId": "entities_delete_v1",
				"parameters": [
					{
						"name": "entity_type",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"agent",
								"app",
								"run"
							]
						},
						"description": "The type of the entity (user, agent, app, or run)."
					},
					{
						"name": "entity_id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer"
						},
						"description": "The numeric identifier of the entity, as returned in the `id` field by `GET /v1/entities/`."
					}
				],
				"responses": {
					"200": {
						"description": "Entity deletion has been queued for background (async) execution.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "Delete in progress. This may take some time."
										},
										"event_id": {
											"type": "string",
											"format": "uuid"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid entity ID. The path parameter must be an integer.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string",
											"example": "Invalid entity ID. Must be an integer."
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "cURL",
						"source": "curl --request DELETE \\\n  --url https://api.mem0.ai/v1/entities/user/12345/ \\\n  --header 'Authorization: Token <api-key>'"
					}
				]
			}
		},
		"/v2/entities/{entity_type}/{entity_id}/": {
			"get": {
				"tags": [
					"entities"
				],
				"operationId": "entities_read",
				"parameters": [
					{
						"name": "entity_type",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"agent",
								"app",
								"run"
							]
						},
						"description": "The type of the entity (user, agent, app, or run)."
					},
					{
						"name": "entity_id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "The unique identifier of the entity."
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved entity details.",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string"
											},
											"name": {
												"type": "string"
											},
											"created_at": {
												"type": "string",
												"format": "date-time"
											},
											"updated_at": {
												"type": "string",
												"format": "date-time"
											},
											"owner": {
												"type": "string"
											},
											"metadata": {
												"type": "object",
												"nullable": true
											},
											"type": {
												"type": "string"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"entities"
				],
				"operationId": "entities_delete",
				"parameters": [
					{
						"name": "entity_type",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"agent",
								"app",
								"run"
							]
						},
						"description": "The type of the entity (user, agent, app, or run)."
					},
					{
						"name": "entity_id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						},
						"description": "The unique identifier of the entity."
					}
				],
				"responses": {
					"200": {
						"description": "Entity deletion has been queued for background (async) execution.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "Delete in progress. This may take some time."
										},
										"event_id": {
											"type": "string",
											"format": "uuid"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid entity type.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "Invalid entity type"
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "import requests\n\nurl = \"https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/\"\n\nheaders = {\"Authorization\": \"Token <api-key>\"}\n\nresponse = requests.request(\"DELETE\", url, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "JavaScript",
						"source": "const options = {method: 'DELETE', headers: {Authorization: 'Token <api-key>'}};\n\nfetch('https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
					},
					{
						"lang": "cURL",
						"source": "curl --request DELETE \\\n  --url https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/ \\\n  --header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.delete(\"https://api.mem0.ai/v2/entities/{entity_type}/{entity_id}/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				]
			}
		},
		"/v1/events/": {
			"get": {
				"tags": [
					"events"
				],
				"summary": "Retrieve all events for current organization and project.",
				"operationId": "events_list",
				"responses": {
					"200": {
						"description": "Successfully retrieved events.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"count": {
											"type": "integer",
											"description": "Total number of events matching the filters."
										},
										"next": {
											"type": "string",
											"nullable": true,
											"description": "URL for the next page of results."
										},
										"previous": {
											"type": "string",
											"nullable": true,
											"description": "URL for the previous page of results."
										},
										"results": {
											"type": "array",
											"description": "Array of event objects.",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"format": "uuid",
														"description": "The unique identifier of the event."
													},
													"event_type": {
														"type": "string",
														"description": "The type of event (e.g., ADD, SEARCH)."
													},
													"status": {
														"type": "string",
														"enum": [
															"PENDING",
															"RUNNING",
															"FAILED",
															"SUCCEEDED"
														],
														"description": "The current status of the event."
													},
													"payload": {
														"type": "object",
														"description": "The original payload associated with the event."
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"description": "Additional metadata associated with the event."
													},
													"results": {
														"type": "array",
														"description": "Array of results produced by the event. For add events, this confirms the write completed; temporal reasoning enrichment runs asynchronously by default."
													},
													"created_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp when the event was created."
													},
													"updated_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp when the event was last updated."
													},
													"started_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp when event processing started."
													},
													"completed_at": {
														"type": "string",
														"format": "date-time",
														"description": "Timestamp when event processing completed."
													},
													"latency": {
														"type": "number",
														"description": "Processing time in milliseconds."
													}
												}
											}
										}
									},
									"required": [
										"count",
										"results"
									]
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "import requests\n\nurl = \"https://api.mem0.ai/v1/events/\"\n\nheaders = {\"Authorization\": \"Token <api-key>\"}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "JavaScript",
						"source": "const options = {method: 'GET', headers: {Authorization: 'Token <api-key>'}};\n\nfetch('https://api.mem0.ai/v1/events/', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
					},
					{
						"lang": "cURL",
						"source": "curl --request GET \\\n  --url https://api.mem0.ai/v1/events/ \\\n  --header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/events/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/events/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.get(\"https://api.mem0.ai/v1/events/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				]
			}
		},
		"/v1/event/{event_id}/": {
			"get": {
				"tags": [
					"events"
				],
				"summary": "Retrieve details of a specific event by its ID.",
				"operationId": "event_read",
				"parameters": [
					{
						"name": "event_id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"format": "uuid"
						},
						"description": "The unique identifier of the event (UUID)."
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved event details.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"id": {
											"type": "string",
											"format": "uuid",
											"description": "The unique identifier of the event."
										},
										"event_type": {
											"type": "string",
											"description": "The type of event (e.g., ADD, SEARCH)."
										},
										"status": {
											"type": "string",
											"enum": [
												"PENDING",
												"RUNNING",
												"FAILED",
												"SUCCEEDED"
											],
											"description": "The current status of the event."
										},
										"payload": {
											"type": "object",
											"description": "The original payload associated with the event."
										},
										"metadata": {
											"type": "object",
											"nullable": true,
											"description": "Additional metadata associated with the event."
										},
										"results": {
											"type": "array",
											"description": "Array of results produced by the event."
										},
										"created_at": {
											"type": "string",
											"format": "date-time",
											"description": "Timestamp when the event was created."
										},
										"updated_at": {
											"type": "string",
											"format": "date-time",
											"description": "Timestamp when the event was last updated."
										},
										"started_at": {
											"type": "string",
											"format": "date-time",
											"description": "Timestamp when event processing started."
										},
										"completed_at": {
											"type": "string",
											"format": "date-time",
											"description": "Timestamp when event processing completed."
										},
										"latency": {
											"type": "number",
											"description": "Processing time in milliseconds."
										},
										"graph_status": {
											"type": "string",
											"nullable": true,
											"description": "Status of graph memory processing for this event, if graph memory is enabled."
										},
										"error": {
											"type": "string",
											"nullable": true,
											"description": "Error message if the event failed to process."
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "Event not found.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string",
											"example": "Event not found or you don't have permission to access it."
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "import requests\n\nurl = \"https://api.mem0.ai/v1/event/{event_id}/\"\n\nheaders = {\"Authorization\": \"Token <api-key>\"}\n\nresponse = requests.request(\"GET\", url, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "JavaScript",
						"source": "const options = {method: 'GET', headers: {Authorization: 'Token <api-key>'}};\n\nfetch('https://api.mem0.ai/v1/event/{event_id}/', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
					},
					{
						"lang": "cURL",
						"source": "curl --request GET \\\n  --url https://api.mem0.ai/v1/event/{event_id}/ \\\n  --header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/event/{event_id}/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/event/{event_id}/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.get(\"https://api.mem0.ai/v1/event/{event_id}/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				]
			}
		},
		"/v1/exports/": {
			"post": {
				"tags": [
					"exports"
				],
				"summary": "Create an export job with schema",
				"description": "Create a structured export of memories based on a provided schema.",
				"operationId": "exports_create",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"schema"
								],
								"properties": {
									"schema": {
										"type": "object",
										"description": "Schema definition for the export"
									},
									"filters": {
										"type": "object",
										"description": "Filters to apply while exporting memories, using the structured AND/OR filter format (see `/v2/memories/search/`), e.g. `{\"AND\": [{\"user_id\": \"<user_id>\"}]}`. Available fields are: user_id, agent_id, app_id, run_id. Flat filter objects (e.g. `{\"user_id\": \"<user_id>\"}`) are rejected with a 400 error."
									},
									"org_id": {
										"type": "string",
										"description": "Filter exports by organization ID."
									},
									"project_id": {
										"type": "string",
										"description": "Filter exports by project ID."
									}
								}
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Export created successfully.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "Memory export request received. The export will be ready in a few seconds."
										},
										"id": {
											"type": "string",
											"format": "uuid",
											"example": "550e8400-e29b-41d4-a716-446655440000"
										}
									},
									"required": [
										"message",
										"id"
									]
								}
							}
						}
					},
					"400": {
						"description": "Bad Request.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "object",
											"description": "Returned when the schema is missing or invalid.",
											"properties": {
												"message": {
													"type": "string",
													"example": "Schema is required and must be a valid object"
												}
											}
										},
										{
											"type": "object",
											"description": "Returned when filters are missing or not in the required structured AND/OR format.",
											"properties": {
												"error": {
													"type": "string",
													"example": "One of the filters: app_id, user_id, agent_id, run_id, memory_export_id is required!"
												}
											}
										}
									]
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\n\nclient = MemoryClient(api_key=\"your_api_key\")\n\njson_schema = {pydantic_json_schema}\nfilters = {\n    \"AND\": [\n        {\"user_id\": \"alex\"}\n    ]\n}\n\nresponse = client.create_memory_export(\n    schema=json_schema,\n    filters=filters\n)\nprint(response)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst jsonSchema = {pydantic_json_schema};\nconst filters = {\n  AND: [\n    {user_id: 'alex'}\n  ]\n};\n\nclient.createMemoryExport({\n  schema: jsonSchema,\n  filters: filters\n})\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request POST \\\n  --url 'https://api.mem0.ai/v1/exports/' \\\n  --header 'Authorization: Token <api-key>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n    \"schema\": {pydantic_json_schema},\n    \"filters\": {\n      \"AND\": [\n        {\"user_id\": \"alex\"}\n      ]\n    }\n  }'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\turl := \"https://api.mem0.ai/v1/exports/\"\n\n\tfilters := map[string]interface{}{\n\t\t\"AND\": []map[string]interface{}{\n\t\t\t{\"user_id\": \"alex\"},\n\t\t},\n\t}\n\n\tdata := map[string]interface{}{\n\t\t\"schema\": map[string]interface{}{}, // Your schema here\n\t\t\"filters\": filters,\n\t}\n\n\tjsonData, _ := json.Marshal(data)\n\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(jsonData))\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\n$filters = [\n  'AND' => [\n    ['user_id' => 'alex']\n  ]\n];\n\n$data = array(\n  \"schema\" => array(), // Your schema here\n  \"filters\" => $filters\n);\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/exports/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode($data),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\",\n    \"Content-Type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "import com.mashape.unirest.http.HttpResponse;\nimport com.mashape.unirest.http.JsonNode;\nimport com.mashape.unirest.http.Unirest;\nimport org.json.JSONObject;\nimport org.json.JSONArray;\n\nJSONObject filters = new JSONObject()\n    .put(\"AND\", new JSONArray()\n        .put(new JSONObject().put(\"user_id\", \"alex\")));\n\nJSONObject data = new JSONObject()\n    .put(\"schema\", new JSONObject()) // Your schema here\n    .put(\"filters\", filters);\n\nHttpResponse<JsonNode> response = Unirest.post(\"https://api.mem0.ai/v1/exports/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(data.toString())\n  .asJson();"
					}
				]
			}
		},
		"/v1/exports/get/": {
			"post": {
				"tags": [
					"exports"
				],
				"summary": "Export data based on filters",
				"description": "Get the latest memory export.",
				"operationId": "exports_list",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"memory_export_id": {
										"type": "string",
										"description": "The unique identifier of the memory export."
									},
									"filters": {
										"type": "object",
										"properties": {
											"user_id": {
												"type": "string"
											},
											"agent_id": {
												"type": "string"
											},
											"app_id": {
												"type": "string"
											},
											"run_id": {
												"type": "string"
											},
											"created_at": {
												"type": "string"
											},
											"updated_at": {
												"type": "string"
											}
										},
										"description": "Filters to apply while exporting memories. Available fields are: user_id, agent_id, app_id, run_id, created_at, updated_at."
									},
									"org_id": {
										"type": "string",
										"description": "Filter exports by organization ID."
									},
									"project_id": {
										"type": "string",
										"description": "Filter exports by project ID."
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful export.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"description": "Export data response in an object format."
								}
							}
						}
					},
					"400": {
						"description": "Bad Request.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "One of the filters: app_id, user_id, agent_id, run_id is required!"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"error": {
											"type": "string",
											"example": "No memory export request found"
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\n\nclient = MemoryClient(api_key=\"your_api_key\")\n\nmemory_export_id = \"<memory_export_id>\"\n\nresponse = client.get_memory_export(memory_export_id=memory_export_id)\nprint(response)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst memory_export_id = \"<memory_export_id>\";\n\n// Get memory export\nclient.getMemoryExport({ memory_export_id })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request POST \\\n  --url 'https://api.mem0.ai/v1/exports/get/' \\\n  --header 'Authorization: Token <api-key>' \\\n  --data '{\n    \"memory_export_id\": \"<memory_export_id>\"\n}'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\tmemory_export_id := \"<memory_export_id>\"\n\n\treq, _ := http.NewRequest(\"POST\", \"https://api.mem0.ai/v1/exports/get/\", nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\n$data = json_encode(['memory_export_id' => '<memory_export_id>']);\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/exports/get/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => $data,\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\",\n    \"Content-Type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "String data = \"{\\\"memory_export_id\\\":\\\"<memory_export_id>\\\"}\";\n\nHttpResponse<String> response = Unirest.post(\"https://api.mem0.ai/v1/exports/get/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(data)\n  .asString();"
					}
				]
			}
		},
		"/v1/memories/": {
			"get": {
				"tags": [
					"memories"
				],
				"description": "Get all memories.",
				"operationId": "memories_list",
				"deprecated": true,
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by user ID."
					},
					{
						"name": "agent_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by agent ID."
					},
					{
						"name": "app_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by app ID."
					},
					{
						"name": "run_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by run ID."
					},
					{
						"name": "metadata",
						"in": "query",
						"schema": {
							"type": "object"
						},
						"description": "Filter memories by metadata (JSON string).",
						"style": "deepObject",
						"explode": true
					},
					{
						"name": "categories",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"description": "Filter memories by categories."
					},
					{
						"name": "org_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by organization ID."
					},
					{
						"name": "project_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by project ID."
					},
					{
						"name": "fields",
						"in": "query",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"description": "Filter memories by fields."
					},
					{
						"name": "keywords",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by keywords."
					},
					{
						"name": "page",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Page number for pagination. Default: 1."
					},
					{
						"name": "page_size",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Number of items per page. Default: 100."
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer",
							"maximum": 200
						},
						"description": "Maximum number of memories to return. Maximum accepted value: 200. Ignored when both `page` and `page_size` are supplied."
					},
					{
						"name": "start_date",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by start date."
					},
					{
						"name": "end_date",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by end date."
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved memories.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "array",
											"description": "Returned when the `page` and `page_size` query parameters are not both supplied.",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string"
													},
													"memory": {
														"type": "string"
													},
													"user_id": {
														"type": "string",
														"nullable": true,
														"description": "ID of the user this memory belongs to, if scoped to a user."
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"additionalProperties": true,
														"description": "User-supplied metadata attached to the memory."
													},
													"categories": {
														"type": "array",
														"nullable": true,
														"items": {
															"type": "string"
														}
													},
													"created_at": {
														"type": "string",
														"format": "date-time"
													},
													"updated_at": {
														"type": "string",
														"format": "date-time"
													},
													"expiration_date": {
														"type": "string",
														"format": "date",
														"description": "The date when the memory will expire. Format: YYYY-MM-DD.",
														"nullable": true,
														"default": null
													},
													"structured_attributes": {
														"type": "object",
														"nullable": true,
														"additionalProperties": true,
														"description": "System-derived temporal breakdown of the memory's creation time (e.g. year, month, day_of_week)."
													},
													"replaced_by": {
														"type": "string",
														"nullable": true,
														"description": "ID of the memory that superseded this one, if any."
													},
													"synthesized": {
														"type": "boolean",
														"description": "Whether this memory was synthesized rather than directly extracted."
													},
													"lifecycle_state": {
														"type": "string",
														"description": "Lifecycle state of the memory."
													}
												},
												"required": [
													"id",
													"memory",
													"created_at",
													"updated_at"
												]
											}
										},
										{
											"type": "object",
											"description": "Returned when both the `page` and `page_size` query parameters are supplied.",
											"properties": {
												"count": {
													"type": "integer"
												},
												"next": {
													"type": "string",
													"nullable": true
												},
												"previous": {
													"type": "string",
													"nullable": true
												},
												"results": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"memory": {
																"type": "string"
															},
															"user_id": {
																"type": "string",
																"nullable": true,
																"description": "ID of the user this memory belongs to, if scoped to a user."
															},
															"metadata": {
																"type": "object",
																"nullable": true,
																"additionalProperties": true,
																"description": "User-supplied metadata attached to the memory."
															},
															"categories": {
																"type": "array",
																"nullable": true,
																"items": {
																	"type": "string"
																}
															},
															"created_at": {
																"type": "string",
																"format": "date-time"
															},
															"updated_at": {
																"type": "string",
																"format": "date-time"
															},
															"expiration_date": {
																"type": "string",
																"format": "date",
																"description": "The date when the memory will expire. Format: YYYY-MM-DD.",
																"nullable": true,
																"default": null
															},
															"structured_attributes": {
																"type": "object",
																"nullable": true,
																"additionalProperties": true,
																"description": "System-derived temporal breakdown of the memory's creation time (e.g. year, month, day_of_week)."
															},
															"replaced_by": {
																"type": "string",
																"nullable": true,
																"description": "ID of the memory that superseded this one, if any."
															},
															"synthesized": {
																"type": "boolean",
																"description": "Whether this memory was synthesized rather than directly extracted."
															},
															"lifecycle_state": {
																"type": "string",
																"description": "Lifecycle state of the memory."
															}
														},
														"required": [
															"id",
															"memory",
															"created_at",
															"updated_at"
														]
													}
												}
											},
											"required": [
												"count",
												"next",
												"previous",
												"results"
											]
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "Bad Request.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "array",
											"description": "Returned when none of the required filters (app_id, user_id, agent_id, run_id) is supplied.",
											"items": {
												"type": "string"
											},
											"example": [
												"One of the filters: app_id, user_id, agent_id, run_id is required!"
											]
										},
										{
											"type": "object",
											"description": "Returned when the `limit` query parameter is invalid.",
											"properties": {
												"error": {
													"type": "string"
												}
											},
											"example": {
												"error": "limit must be <= 200"
											}
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"detail": {
											"type": "string",
											"example": "Invalid page."
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\n\n# Retrieve memories for a specific user\nuser_memories = client.get_all(filters={\"user_id\": \"<user_id>\"})\n\nprint(user_memories)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\n// Retrieve memories for a specific user\nclient.getAll({ user_id: \"<user_id>\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --location --request GET 'https://api.mem0.ai/v1/memories/' \\\n--header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/memories/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/memories/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.get(\"https://api.mem0.ai/v1/memories/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				]
			},
			"post": {
				"tags": [
					"memories"
				],
				"description": "Add memories.",
				"operationId": "memories_create",
				"deprecated": true,
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MemoryInput"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Memory processing has been queued for background (async) execution. The response reports queueing status, not the final memory content; poll `GET /v1/event/{event_id}/` with the returned `event_id` to see the processed result. By default (or with `version=v1` / `output_format=v1.0`) the response is a bare array. When both `output_format=v1.1` and `version=v2` are requested, the response is an object wrapping the same array under `results`.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "array",
											"description": "Default response shape.",
											"items": {
												"type": "object",
												"properties": {
													"message": {
														"type": "string",
														"example": "Memory processing has been queued for background execution"
													},
													"status": {
														"type": "string",
														"example": "PENDING"
													},
													"event_id": {
														"type": "string",
														"format": "uuid"
													}
												},
												"required": [
													"message",
													"status",
													"event_id"
												]
											}
										},
										{
											"type": "object",
											"description": "Response shape when both `output_format=v1.1` and `version=v2` are requested.",
											"properties": {
												"results": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"message": {
																"type": "string",
																"example": "Memory processing has been queued for background execution"
															},
															"status": {
																"type": "string",
																"example": "PENDING"
															},
															"event_id": {
																"type": "string",
																"format": "uuid"
															}
														},
														"required": [
															"message",
															"status",
															"event_id"
														]
													}
												},
												"relations": {
													"type": "array",
													"items": {}
												}
											},
											"required": [
												"results",
												"relations"
											]
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "Bad Request. Invalid input data. Please refer to the memory creation documentation at https://docs.mem0.ai/platform/quickstart#4-1-create-memories for correct formatting and required fields.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"required": [
										"error",
										"details"
									],
									"example": {
										"error": "400 Bad Request",
										"details": {
											"message": "Invalid input data. Please refer to the memory creation documentation at https://docs.mem0.ai/platform/quickstart#4-1-create-memories for correct formatting and required fields."
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\n\nclient = MemoryClient(api_key=\"your_api_key\")\n\nmessages = [\n    {\"role\": \"user\", \"content\": \"<user-message>\"},\n    {\"role\": \"assistant\", \"content\": \"<assistant-response>\"}\n]\n\nclient.add(messages, user_id=\"<user-id>\")"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst messages = [\n  { role: \"user\", content: \"Hi, I'm Alex. I'm a vegetarian and I'm allergic to nuts.\" },\n  { role: \"assistant\", content: \"Hello Alex! I've noted that you're a vegetarian and have a nut allergy. I'll keep this in mind for any food-related recommendations or discussions.\" }\n];\n\nclient.add(messages, { user_id: \"<user_id>\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request POST \\\n  --url https://api.mem0.ai/v1/memories/ \\\n  --header 'Authorization: Token <api-key>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"messages\": [\n    {}\n  ],\n  \"agent_id\": \"<string>\",\n  \"user_id\": \"<string>\",\n  \"app_id\": \"<string>\",\n  \"run_id\": \"<string>\",\n  \"metadata\": {},\n  \"includes\": \"<string>\",\n  \"excludes\": \"<string>\",\n  \"infer\": true,\n  \"custom_categories\": {}, \n  \"org_id\": \"<string>\",\n  \"project_id\": \"<string>\",\n  \"version\": \"v2\"\n}'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/memories/\"\n\n\tpayload := strings.NewReader(\"{\n  \\\"messages\\\": [\n    {}\n  ],\n  \\\"agent_id\\\": \\\"<string>\\\",\n  \\\"user_id\\\": \\\"<string>\\\",\n  \\\"app_id\\\": \\\"<string>\\\",\n  \\\"run_id\\\": \\\"<string>\\\",\n  \\\"metadata\\\": {},\n  \\\"includes\\\": \\\"<string>\\\",\n  \\\"excludes\\\": \\\"<string>\\\",\n  \\\"infer\\\": true,\n  \\\"custom_categories\\\": {},\n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\",\n  \\\"version\\\": \"v2\"\n}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/memories/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\n  \\\"messages\\\": [\n    {}\n  ],\n  \\\"agent_id\\\": \\\"<string>\\\",\n  \\\"user_id\\\": \\\"<string>\\\",\n  \\\"app_id\\\": \\\"<string>\\\",\n  \\\"run_id\\\": \\\"<string>\\\",\n  \\\"metadata\\\": {},\n  \\\"includes\\\": \\\"<string>\\\",\n  \\\"excludes\\\": \\\"<string>\\\",\n  \\\"infer\\\": true,\n  \\\"custom_categories\\\": {}, \n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\",\n  \\\"version\\\": \"v2\"\n}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\",\n    \"Content-Type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.post(\"https://api.mem0.ai/v1/memories/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(\"{\n  \\\"messages\\\": [\n    {}\n  ],\n  \\\"agent_id\\\": \\\"<string>\\\",\n  \\\"user_id\\\": \\\"<string>\\\",\n  \\\"app_id\\\": \\\"<string>\\\",\n  \\\"run_id\\\": \\\"<string>\\\",\n  \\\"metadata\\\": {},\n  \\\"includes\\\": \\\"<string>\\\",\n  \\\"excludes\\\": \\\"<string>\\\",\n  \\\"infer\\\": true,\n  \\\"custom_categories\\\": {}, \n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\",\n  \\\"version\\\": \"v2\"\n}\")\n  .asString();"
					}
				],
				"x-codegen-request-body-name": "data"
			},
			"delete": {
				"tags": [
					"memories"
				],
				"description": "Delete memories by filter. At least one filter is required. Previously, omitting all filters silently deleted everything; now it returns a validation error.",
				"operationId": "memories_delete_all",
				"parameters": [
					{
						"name": "user_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter by user ID. Pass `*` to delete memories for all users."
					},
					{
						"name": "agent_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter by agent ID. Pass `*` to delete memories for all agents."
					},
					{
						"name": "app_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter by app ID. Pass `*` to delete memories for all apps."
					},
					{
						"name": "run_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter by run ID. Pass `*` to delete memories for all runs."
					},
					{
						"name": "metadata",
						"in": "query",
						"schema": {
							"type": "object"
						},
						"description": "Filter memories by metadata (JSON string).",
						"style": "deepObject",
						"explode": true
					},
					{
						"name": "org_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by organization ID."
					},
					{
						"name": "project_id",
						"in": "query",
						"schema": {
							"type": "string"
						},
						"description": "Filter memories by project ID."
					}
				],
				"responses": {
					"200": {
						"description": "Deletion of memories has been queued for background (async) execution.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "Delete in progress. This may take some time."
										},
										"event_id": {
											"type": "string",
											"format": "uuid"
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\n\n# Delete all memories for a specific user\nclient.delete_all(user_id=\"<user_id>\")\n\n# Delete all memories for every user in the project (wildcard)\nclient.delete_all(user_id=\"*\")\n\n# Full project wipe: all four filters must be explicitly set to \"*\"\nclient.delete_all(user_id=\"*\", agent_id=\"*\", app_id=\"*\", run_id=\"*\")\n\n# NOTE: Calling delete_all() with no filters raises a validation error.\n# At least one filter is required to prevent accidental data loss."
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\n// Delete all memories for a specific user\nclient.deleteAll({ user_id: \"<user_id>\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));\n\n// Delete all memories for every user in the project (wildcard)\nclient.deleteAll({ user_id: \"*\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));\n\n// Full project wipe: all four filters must be explicitly set to \"*\"\nclient.deleteAll({ user_id: \"*\", agent_id: \"*\", app_id: \"*\", run_id: \"*\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "# Delete memories for a specific user\ncurl --request DELETE \\\n  --url 'https://api.mem0.ai/v1/memories/?user_id=<user_id>' \\\n  --header 'Authorization: Token <api-key>'\n\n# Delete memories for all users (wildcard)\ncurl --request DELETE \\\n  --url 'https://api.mem0.ai/v1/memories/?user_id=*' \\\n  --header 'Authorization: Token <api-key>'\n\n# Full project wipe: all four filters must be set to *\ncurl --request DELETE \\\n  --url 'https://api.mem0.ai/v1/memories/?user_id=*&agent_id=*&app_id=*&run_id=*' \\\n  --header 'Authorization: Token <api-key>'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/memories/\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/memories/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.delete(\"https://api.mem0.ai/v1/memories/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				],
				"x-codegen-request-body-name": "data"
			}
		},
		"/v2/memories/": {
			"post": {
				"tags": [
					"memories"
				],
				"description": "Get all memories.",
				"operationId": "memories_list_v2",
				"deprecated": true,
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MemoryGetInputV2"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Successfully retrieved memories.",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string",
												"format": "uuid",
												"description": "Unique memory identifier."
											},
											"memory": {
												"type": "string",
												"description": "The extracted memory fact."
											},
											"user_id": {
												"type": "string",
												"nullable": true,
												"description": "User the memory is scoped to."
											},
											"agent_id": {
												"type": "string",
												"nullable": true,
												"description": "Agent the memory is scoped to."
											},
											"app_id": {
												"type": "string",
												"nullable": true,
												"description": "App the memory is scoped to."
											},
											"session_id": {
												"type": "string",
												"nullable": true,
												"description": "Run/session the memory is scoped to. Note: this endpoint returns this field as `session_id`, matching `POST /v3/memories/`."
											},
											"metadata": {
												"type": "object",
												"nullable": true,
												"additionalProperties": true,
												"description": "Additional metadata associated with the memory"
											},
											"categories": {
												"type": "array",
												"nullable": true,
												"items": {
													"type": "string"
												}
											},
											"created_at": {
												"type": "string",
												"format": "date-time",
												"description": "Timestamp of when the memory was created."
											},
											"updated_at": {
												"type": "string",
												"format": "date-time",
												"description": "Timestamp of when the memory was last updated."
											},
											"expiration_date": {
												"type": "string",
												"format": "date",
												"nullable": true,
												"description": "The date when the memory will expire. Format: YYYY-MM-DD."
											},
											"structured_attributes": {
												"type": "object",
												"nullable": true,
												"additionalProperties": true,
												"description": "System-derived temporal breakdown of the memory's creation time (e.g. year, month, day_of_week)."
											},
											"replaced_by": {
												"type": "string",
												"nullable": true,
												"description": "ID of the memory that superseded this one, if any."
											},
											"synthesized": {
												"type": "boolean",
												"description": "Whether this memory was synthesized rather than directly extracted."
											}
										},
										"required": [
											"id",
											"memory",
											"created_at",
											"updated_at"
										]
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "One of the filters: app_id, user_id, agent_id, run_id is required!"
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\n\n# Retrieve memories with filters\nmemories = client.get_all(\n    filters={\n        \"AND\": [\n            {\n                \"user_id\": \"alex\"\n            },\n            {\n                \"created_at\": {\n                    \"gte\": \"2024-07-01\",\n                    \"lte\": \"2024-07-31\"\n                }\n            }\n        ]\n    }\n)\n\nprint(memories)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst filters = {\n  AND: [\n    { user_id: 'alex' },\n    { created_at: { gte: '2024-07-01', lte: '2024-07-31' } }\n  ]\n};\n\nclient.getAll({ filters })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl -X POST 'https://api.mem0.ai/v2/memories/' \\\n-H 'Authorization: Token your-api-key' \\\n-H 'Content-Type: application/json' \\\n-d '{\n  \"filters\": {\n    \"AND\": [\n      { \"user_id\": \"alex\" },\n      { \"created_at\": { \"gte\": \"2024-07-01\", \"lte\": \"2024-07-31\" } }\n    ]\n  },\n  \"org_id\": \"your-org-id\",\n  \"project_id\": \"your-project-id\"\n}'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"bytes\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"io/ioutil\"\n\t\"net/http\"\n)\n\nfunc main() {\n\turl := \"https://api.mem0.ai/v2/memories/\"\n\tfilters := map[string]interface{}{\n\t\t\"AND\": []map[string]interface{}{\n\t\t\t{\"user_id\": \"alex\"},\n\t\t\t{\"created_at\": map[string]string{\n\t\t\t\t\"gte\": \"2024-07-01\",\n\t\t\t\t\"lte\": \"2024-07-31\",\n\t\t\t}},\n\t\t},\n\t}\n\tpayload, _ := json.Marshal(map[string]interface{}{\"filters\": filters})\n\treq, _ := http.NewRequest(\"POST\", url, bytes.NewBuffer(payload))\n\treq.Header.Add(\"Authorization\", \"Token your-api-key\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(string(body))\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\n$filters = [\n  'AND' => [\n    ['user_id' => 'alex'],\n    ['created_at' => ['gte' => '2024-07-01', 'lte' => '2024-07-31']]\n  ]\n];\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v2/memories/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => json_encode(['filters' => $filters]),\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token your-api-key\",\n    \"Content-Type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "import com.konghq.unirest.http.HttpResponse;\nimport com.konghq.unirest.http.Unirest;\nimport org.json.JSONObject;\n\nJSONObject filters = new JSONObject()\n    .put(\"AND\", new JSONArray()\n        .put(new JSONObject().put(\"user_id\", \"alex\"))\n        .put(new JSONObject().put(\"created_at\", new JSONObject()\n            .put(\"gte\", \"2024-07-01\")\n            .put(\"lte\", \"2024-07-31\")\n        ))\n    );\n\nHttpResponse<String> response = Unirest.post(\"https://api.mem0.ai/v2/memories/\")\n  .header(\"Authorization\", \"Token your-api-key\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(new JSONObject().put(\"filters\", filters).toString())\n  .asString();\n\nSystem.out.println(response.getBody());"
					}
				]
			}
		},
		"/v1/memories/events/": {
			"get": {
				"tags": [
					"memories"
				],
				"description": "Despite the endpoint name, this returns memory history entries (the same shape as `GET /v1/memories/{memory_id}/history/`), not event/ingestion-job records. For event/ingestion-job status, use `GET /v1/event/{event_id}/`.",
				"operationId": "memories_events_list",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Page number for pagination. Default: 1. Default page size is 100."
					},
					{
						"name": "limit",
						"in": "query",
						"schema": {
							"type": "integer"
						},
						"description": "Number of items per page. Default: 100."
					}
				],
				"responses": {
					"200": {
						"description": "Successfully retrieved memory history entries.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"count": {
											"type": "integer"
										},
										"next": {
											"type": "string",
											"nullable": true
										},
										"previous": {
											"type": "string",
											"nullable": true
										},
										"results": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"format": "uuid",
														"description": "Unique identifier for the history entry."
													},
													"memory_id": {
														"type": "string",
														"format": "uuid",
														"description": "Unique identifier of the associated memory."
													},
													"input": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"role": {
																	"type": "string"
																},
																"content": {
																	"type": "string"
																}
															}
														},
														"description": "The conversation input that led to this memory change"
													},
													"old_memory": {
														"type": "string",
														"nullable": true,
														"description": "The previous state of the memory, if applicable"
													},
													"new_memory": {
														"type": "string",
														"description": "The new or updated state of the memory"
													},
													"user_id": {
														"type": "string",
														"description": "The identifier of the user associated with this memory"
													},
													"agent_id": {
														"type": "string",
														"nullable": true,
														"description": "The identifier of the agent associated with this memory, if any."
													},
													"app_id": {
														"type": "string",
														"nullable": true,
														"description": "The identifier of the app associated with this memory, if any."
													},
													"session_id": {
														"type": "string",
														"nullable": true,
														"description": "The run identifier associated with this memory, returned as `session_id`."
													},
													"categories": {
														"type": "array",
														"nullable": true,
														"items": {
															"type": "string"
														},
														"description": "Categories associated with the memory at this point in its history"
													},
													"created_at": {
														"type": "string",
														"format": "date-time",
														"description": "The timestamp when this history entry was created."
													},
													"event": {
														"type": "string",
														"enum": [
															"ADD",
															"UPDATE",
															"DELETE"
														],
														"description": "The type of event that occurred"
													},
													"previous_embedding_qwen": {
														"type": "string",
														"nullable": true,
														"description": "Previous internal embedding representation (Qwen model), if applicable"
													},
													"embedding_qwen": {
														"type": "string",
														"nullable": true,
														"description": "Internal embedding representation (Qwen model), if available"
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"description": "Additional metadata associated with the memory change"
													},
													"updated_at": {
														"type": "string",
														"format": "date-time",
														"description": "The timestamp when this history entry was last updated."
													}
												},
												"required": [
													"id",
													"memory_id",
													"new_memory",
													"user_id",
													"event",
													"created_at",
													"updated_at"
												]
											}
										}
									},
									"required": [
										"count",
										"next",
										"previous",
										"results"
									]
								}
							}
						}
					},
					"404": {
						"description": "Invalid page.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"detail": {
											"type": "string",
											"example": "Invalid page."
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/memories/search/": {
			"post": {
				"tags": [
					"memories"
				],
				"description": "Perform a semantic search on memories.",
				"operationId": "memories_search_create",
				"deprecated": true,
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MemorySearchInput"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Successfully retrieved search results.",
						"content": {
							"application/json": {
								"schema": {
									"oneOf": [
										{
											"type": "array",
											"description": "Default response shape. Returned when `output_format` is omitted or set to `v1.0`.",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"format": "uuid",
														"description": "Unique identifier for the memory."
													},
													"memory": {
														"type": "string",
														"description": "The content of the memory"
													},
													"user_id": {
														"type": "string",
														"description": "The identifier of the user associated with this memory"
													},
													"score": {
														"type": "number",
														"description": "Relevance score of the memory for the search query."
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"description": "Additional metadata associated with the memory"
													},
													"categories": {
														"type": "array",
														"items": {
															"type": "string"
														},
														"description": "Categories associated with the memory"
													},
													"expiration_date": {
														"type": "string",
														"format": "date",
														"description": "The date when the memory will expire. Format: YYYY-MM-DD.",
														"title": "Expiration date",
														"nullable": true,
														"default": null
													},
													"created_at": {
														"type": "string",
														"format": "date-time",
														"description": "The timestamp when the memory was created."
													},
													"updated_at": {
														"type": "string",
														"format": "date-time",
														"description": "The timestamp when the memory was last updated."
													}
												},
												"required": [
													"id",
													"memory",
													"user_id",
													"created_at",
													"updated_at"
												]
											}
										},
										{
											"type": "object",
											"description": "Returned when `output_format=v1.1` is requested.",
											"properties": {
												"results": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string",
																"format": "uuid",
																"description": "Unique identifier for the memory."
															},
															"memory": {
																"type": "string",
																"description": "The content of the memory"
															},
															"user_id": {
																"type": "string",
																"description": "The identifier of the user associated with this memory"
															},
															"score": {
																"type": "number",
																"description": "Relevance score of the memory for the search query."
															},
															"metadata": {
																"type": "object",
																"nullable": true,
																"description": "Additional metadata associated with the memory"
															},
															"categories": {
																"type": "array",
																"items": {
																	"type": "string"
																},
																"description": "Categories associated with the memory"
															},
															"expiration_date": {
																"type": "string",
																"format": "date",
																"description": "The date when the memory will expire. Format: YYYY-MM-DD.",
																"title": "Expiration date",
																"nullable": true,
																"default": null
															},
															"created_at": {
																"type": "string",
																"format": "date-time",
																"description": "The timestamp when the memory was created."
															},
															"updated_at": {
																"type": "string",
																"format": "date-time",
																"description": "The timestamp when the memory was last updated."
															}
														},
														"required": [
															"id",
															"memory",
															"user_id",
															"created_at",
															"updated_at"
														]
													}
												},
												"relations": {
													"type": "array",
													"items": {}
												}
											},
											"required": [
												"results",
												"relations"
											]
										}
									]
								}
							}
						}
					},
					"400": {
						"description": "Bad Request.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"message": {
											"type": "string",
											"example": "At least one of the filters: agent_id, user_id, app_id, run_id is required!"
										}
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\n\nquery = \"Your search query here\"\n\nresults = client.search(query, filters={\"user_id\": \"<user_id>\"})\nprint(results)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst query = \"Your search query here\";\n\nclient.search(query, { user_id: \"<user_id>\" })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request POST \\\n  --url https://api.mem0.ai/v1/memories/search/ \\\n  --header 'Authorization: Token <api-key>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"query\": \"<string>\",\n  \"agent_id\": \"<string>\",\n  \"user_id\": \"<string>\",\n  \"app_id\": \"<string>\",\n  \"run_id\": \"<string>\",\n  \"metadata\": {},\n  \"top_k\": 123,\n  \"fields\": [\n    \"<string>\"\n  ],\n  \"rerank\": true,\n  \"org_id\": \"<string>\",\n  \"project_id\": \"<string>\"\n}'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v1/memories/\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v1/memories/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.get(\"https://api.mem0.ai/v1/memories/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .asString();"
					}
				],
				"x-codegen-request-body-name": "data"
			}
		},
		"/v2/memories/search/": {
			"post": {
				"tags": [
					"memories"
				],
				"description": "Search memories based on a query and filters.",
				"operationId": "memories_search_v2",
				"deprecated": true,
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/MemorySearchInputV2"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Successfully retrieved search results.",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"id": {
												"type": "string",
												"format": "uuid",
												"description": "Unique identifier for the memory."
											},
											"memory": {
												"type": "string",
												"description": "The content of the memory"
											},
											"user_id": {
												"type": "string",
												"description": "The identifier of the user associated with this memory"
											},
											"metadata": {
												"type": "object",
												"nullable": true,
												"description": "Additional metadata associated with the memory"
											},
											"categories": {
												"type": "array",
												"items": {
													"type": "string"
												},
												"description": "Categories associated with the memory"
											},
											"expiration_date": {
												"type": "string",
												"format": "date",
												"description": "The date when the memory will expire. Format: YYYY-MM-DD.",
												"title": "Expiration date",
												"nullable": true,
												"default": null
											},
											"created_at": {
												"type": "string",
												"format": "date-time",
												"description": "The timestamp when the memory was created."
											},
											"updated_at": {
												"type": "string",
												"format": "date-time",
												"description": "The timestamp when the memory was last updated."
											},
											"score": {
												"type": "number",
												"format": "float",
												"minimum": 0,
												"maximum": 1,
												"description": "Combined multi-signal relevance score in [0, 1] (search responses only)."
											},
											"agent_id": {
												"type": "string",
												"nullable": true
											},
											"app_id": {
												"type": "string",
												"nullable": true
											},
											"session_id": {
												"type": "string",
												"nullable": true,
												"description": "Run/session the memory is scoped to. Note: this endpoint returns this field as `session_id`, matching `POST /v3/memories/`."
											}
										},
										"required": [
											"id",
											"memory",
											"user_id",
											"created_at",
											"updated_at"
										]
									}
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "Python",
						"source": "# To use the Python SDK, install the package:\n# pip install mem0ai\n\nfrom mem0 import MemoryClient\nclient = MemoryClient(api_key=\"your_api_key\")\n\nquery = \"What do you know about me?\"\nfilters = {\n   \"OR\":[\n      {\n         \"user_id\":\"alex\"\n      },\n      {\n         \"agent_id\":{\n            \"in\":[\n               \"travel-assistant\",\n               \"customer-support\"\n            ]\n         }\n      }\n   ]\n}\nclient.search(query, filters=filters)"
					},
					{
						"lang": "JavaScript",
						"source": "// To use the JavaScript SDK, install the package:\n// npm i mem0ai\n\nimport MemoryClient from 'mem0ai';\nconst client = new MemoryClient({ apiKey: \"your-api-key\" });\n\nconst query = \"What do you know about me?\";\nconst filters = {\n  OR: [\n    { user_id: \"alex\" },\n    { agent_id: { in: [\"travel-assistant\", \"customer-support\"] } }\n  ]\n};\n\nclient.search(query, { filters })\n  .then(result => console.log(result))\n  .catch(error => console.error(error));"
					},
					{
						"lang": "cURL",
						"source": "curl --request POST \\\n  --url https://api.mem0.ai/v2/memories/search/ \\\n  --header 'Authorization: Token <api-key>' \\\n  --header 'Content-Type: application/json' \\\n  --data '{\n  \"query\": \"<string>\",\n  \"filters\": {},\n  \"top_k\": 123,\n  \"fields\": [\n    \"<string>\"\n  ],\n  \"rerank\": true,\n  \"org_id\": \"<string>\",\n  \"project_id\": \"<string>\"\n}'"
					},
					{
						"lang": "Go",
						"source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.mem0.ai/v2/memories/search/\"\n\n\tpayload := strings.NewReader(\"{\n  \\\"query\\\": \\\"<string>\\\",\n  \\\"filters\\\": {},\n  \\\"top_k\\\": 123,\n  \\\"fields\\\": [\n    \\\"<string>\\\"\n  ],\n  \\\"rerank\\\": true,\n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\\\"\n}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Authorization\", \"Token <api-key>\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://api.mem0.ai/v2/memories/search/\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\n  \\\"query\\\": \\\"<string>\\\",\n  \\\"filters\\\": {},\n  \\\"top_k\\\": 123,\n  \\\"fields\\\": [\n    \\\"<string>\\\"\n  ],\n  \\\"rerank\\\": true,\n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\\\"\n}\",\n  CURLOPT_HTTPHEADER => [\n    \"Authorization: Token <api-key>\",\n    \"Content-Type: application/json\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
					},
					{
						"lang": "Java",
						"source": "HttpResponse<String> response = Unirest.post(\"https://api.mem0.ai/v2/memories/search/\")\n  .header(\"Authorization\", \"Token <api-key>\")\n  .header(\"Content-Type\", \"application/json\")\n  .body(\"{\n  \\\"query\\\": \\\"<string>\\\",\n  \\\"filters\\\": {},\n  \\\"top_k\\\": 123,\n  \\\"fields\\\": [\n    \\\"<string>\\\"\n  ],\n  \\\"rerank\\\": true,\n  \\\"org_id\\\": \\\"<string>\\\",\n  \\\"project_id\\\": \\\"<string>\\\"\n}\")\n  .asString();"
					}
				],
				"x-codegen-request-body-name": "data"
			}
		},
		"/v3/memories/": {
			"post": {
				"tags": [
					"memories"
				],
				"summary": "Get all memories (V3, paginated)",
				"description": "List memories scoped by filters, paginated. Entity IDs **must** be passed inside the `filters` object. Top-level `user_id` / `agent_id` / `run_id` are rejected with 400. `filters` supports the same operator set as V2 search (`AND`, `OR`, `NOT`, `in`, `gte`, `lte`, etc.). Response is a paginated envelope; pass `page` and `page_size` as query parameters to step through results.",
				"operationId": "memories_list_v3",
				"parameters": [
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						},
						"description": "1-indexed page number."
					},
					{
						"in": "query",
						"name": "page_size",
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 200,
							"default": 100
						},
						"description": "Results per page."
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": [
									"filters"
								],
								"properties": {
									"filters": {
										"type": "object",
										"description": "Entity and metadata filters. Must include at least one entity ID (`user_id`, `agent_id`, `app_id`, or `run_id`).",
										"additionalProperties": true
									},
									"show_expired": {
										"type": "boolean",
										"default": false,
										"description": "When true, include memories whose `expiration_date` has passed. Expired memories are hidden by default."
									},
									"start_date": {
										"type": "string",
										"format": "date",
										"description": "Only include memories created on or after this date (YYYY-MM-DD)."
									},
									"end_date": {
										"type": "string",
										"format": "date",
										"description": "Only include memories created on or before this date (YYYY-MM-DD)."
									},
									"categories": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"description": "Restrict results to memories tagged with any of these categories."
									},
									"fields": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"description": "Restrict the fields returned per memory, e.g. [\"id\", \"memory\"]."
									},
									"keywords": {
										"type": "string",
										"description": "Free-text keyword filter applied on top of filters."
									},
									"page": {
										"type": "integer",
										"description": "1-indexed page number. Also accepted here in the request body; the query parameter of the same name takes precedence."
									},
									"page_size": {
										"type": "integer",
										"description": "Results per page. Also accepted here in the request body; the query parameter of the same name takes precedence."
									}
								}
							},
							"example": {
								"filters": {
									"user_id": "alice"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Paginated envelope of memories.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"count": {
											"type": "integer",
											"description": "Total number of memories matching the filters."
										},
										"next": {
											"type": "string",
											"format": "uri",
											"nullable": true,
											"description": "URL for the next page, or `null` if this is the last page."
										},
										"previous": {
											"type": "string",
											"format": "uri",
											"nullable": true,
											"description": "URL for the previous page, or `null` if this is the first page."
										},
										"results": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"format": "uuid",
														"description": "Unique memory identifier."
													},
													"memory": {
														"type": "string",
														"description": "The extracted memory fact."
													},
													"user_id": {
														"type": "string",
														"nullable": true,
														"description": "User the memory is scoped to."
													},
													"agent_id": {
														"type": "string",
														"nullable": true,
														"description": "Agent the memory is scoped to."
													},
													"app_id": {
														"type": "string",
														"nullable": true,
														"description": "App the memory is scoped to."
													},
													"session_id": {
														"type": "string",
														"nullable": true,
														"description": "Run/session the memory is scoped to. Note: this endpoint returns this field as `session_id`, while `POST /v3/memories/search/` returns the same value as `run_id`."
													},
													"metadata": {
														"type": "object",
														"nullable": true,
														"additionalProperties": true,
														"description": "User-supplied metadata attached to the memory."
													},
													"categories": {
														"type": "array",
														"nullable": true,
														"items": {
															"type": "string"
														}
													},
													"structured_attributes": {
														"type": "object",
														"nullable": true,
														"additionalProperties": true,
														"description": "System-derived temporal breakdown of the memory's creation time (e.g. year, month, day_of_week)."
													},
													"replaced_by": {
														"type": "string",
														"nullable": true,
														"description": "ID of the memory that superseded this one, if any."
													},
													"synthesized": {
														"type": "boolean",
														"description": "Whether this memory was synthesized rather than directly extracted."
													},
													"expiration_date": {
														"type": "string",
														"format": "date",
														"nullable": true,
														"description": "Date after which the memory is hidden from search and get-all unless `show_expired` is true."
[...]
